<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
        .imgbook{
            transition:all 1s ease-in;
            width: 400px;
         
        }
        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
        .imgsachbannhieu{
            width:100px;
        }
        .col-lg-3{
            margin-top: 30px;
        }
        .col-lg-9 {
            margin-top: 20px;
        }
        .mota {
            line-height: 24px;
            height: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .Sachbannhieu_img {
            display: flex;
            padding-bottom: 25px;
        }
        .Sachbannhieu_text{
            padding-left: 20px;
        }
    </style>
</head>
<body>
    @Html.Partial("_NavPartial", "Book")
   
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @Html.Partial("SliderPartial", "Book")

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Action("ChuDePartial", "Book")
                @Html.Action("NhaXuatBan", "Book")
            </div>
                <div>
                    @RenderBody()
                </div>

            </div>
            @RenderSection("SachBanNhieu", required: false)
        </div>
    @Html.Partial("_FooterPartial")
</body>
</html>
